argcomplete==1.12.3
attrs==25.4.0
bottle==0.12.20
certifi==2025.10.5
chardet==3.0.4
charset-normalizer==2.0.12
idna==2.9
more-itertools==10.8.0
packaging==25.0
pluggy==0.13.1
prettytable==0.7.2
py==1.11.0
PyHamcrest==2.0.2
pymongo==3.11.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
pytest==5.4.3
requests==2.32.4
six==1.16.0
urllib3==2.5.0
wcwidth==0.2.14

# Windows-only packages
atomicwrites==1.4.1; sys_platform == "win32"
colorama==0.4.6; sys_platform == "win32"
pywin32==311; sys_platform == "win32"
servicemanager==2.0.10; sys_platform == "win32"

