#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/udsactor install-udsactor
	$(MAKE) DESTDIR=$(CURDIR)/debian/udsactor-unmanaged install-udsactor-unmanaged

override_dh_auto_clean:
	rm -f build-stamp configure-stamp
	dh_clean

override_dh_installsystemd:
	dh_installsystemd --enable --no-start
